/* || Default styles reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* || Custom variables */

/* || General styles */
body {
    background-color: #f8f8f8;
}

.content {
    height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;

}

.profile-picture {
    max-width: 70px;
}

.profile-name h1 {
    font-size: 36px;
}

.add-project-container {
    align-self: start;
    margin: 0 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.add-project-container:hover {
    cursor: pointer;
}

#add-icon {
    max-width: 25px;
}

.add-project-text {
    font-size: 20px
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-header {
    font-size: 20px;
    margin: 0 30px;
}

.projects {
    display: grid;
    gap: 10px;
    margin: 0 20px;
}

.project-item {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
}

.project-item:hover {
    cursor: pointer;
}

.theme-container {
    margin-top: auto;
    padding: 0 20px 20px 0;
    align-self: flex-end;
}

.main {
    padding: 40px;

    display: grid;
    grid-template-rows: min-content min-content 1fr;
}

.tasks-container {
    padding: 10px;

    border: 1px solid black;
    display: grid;
    gap: 10px;
    grid-auto-rows: min-content;   

    overflow: auto;
}

.task-item {
    border-radius: 8px;
    max-width: 800px;
    display: grid;
    padding: 20px;
    grid-template-columns: 400px 150px 150px 100px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.task-name, .task-due-date, .task-status, .task-done {
    display: grid;
    align-items: center;
}

.done-box {
    width: 30px;
    height: 30px;

}